/* Global Style  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

/* typography  */
$prim-red: #ff7a7a;
$prim-green: #38cc8c;
$accent-blue: #6055a5;
$neutral-dk-blue: #3e3c49;
$neutral-gray-blue: #b9b6d3;

.gray-blue {
    color: $neutral-gray-blue;
}

$poppins: 'Poppins',
sans-serif;

/* browser reset  */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* set root rem to 10px to make rem calcs easier  */
html {
    font-size: 16px;
}

/* 1.2rem is 12px based on 1 rem is 10px  */
body {
    font-family: $poppins;
    font-size: 1rem;
}

/* buttons  */
.btn {
    display: inline-block;
    background: $accent-blue;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 1rem;
    cursor: pointer;
    text-decoration: none;
    font-size: 1rem;
    font-family: inherit;

    &:focus {
        outline: none;
    }

    &:active {
        transform: scaleY(0.98);
    }
}

/* inputs */
input {
    color: $neutral-dk-blue;
    font-size: 1rem;
    border-radius: 5px;
    background-color: #fff;
    padding: .5rem 1rem;
    width: 100%;
    line-height: 1.4;
    margin-bottom: 1rem;
    border: 1px solid $neutral-gray-blue;

    &:focus,
    &:active {
        border: 1px solid $accent-blue;
        outline: none;
    }
}


.wrapper {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: $prim-red;
    background-image: url(../images/bg-intro-mobile.png);

    @media only screen and (min-width: 768px) {
        background-image: url(../images/bg-intro-desktop.png);
    }

    .main-content {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        width: 90%;
        margin: 0 auto;

        @media only screen and (min-width: 768px) {
            width: 85%;
        }

        .flex-child {
            width: 90%;
            padding: 1rem;
            margin: 0 auto;

            @media only screen and (min-width: 768px) {
                width: 48%;
            }

            // text on left 
            &.text-content {
                color: #fff;
            }

            // button above the form 
            &.form-content .btn {
                width: 100%;
                box-shadow: 0px 5px 3px 0px rgba(0, 0, 0, 0.3);

                &:active {
                    box-shadow: 0px 5px 2px 0px #594e9a;
                }
            }

            // form 
            &.form-content form {
                display: flex;
                flex-direction: column;
                justify-content: center;
                background-color: #fff;
                padding: 2rem;
                border-radius: 10px;
                box-shadow: 0px 5px 3px 0px rgba(0, 0, 0, 0.3);

                .form-input-error-block {
                    position: relative;

                    input.error {
                        border: 1px solid $prim-red;
                        margin-bottom: .25rem;

                        &::placeholder {
                            color: $prim-red;
                        }
                    }

                    img.icon-error {
                        display: none;
                        position: absolute;
                        top: .5rem;
                        right: .5rem;
                        margin: 0;
                        padding: 0;
                    }

                    .error-msg {
                        display: none;
                        text-align: right;
                        font-size: .7rem;
                        color: $prim-red;
                        margin-bottom: 1rem;

                    }
                }

                .btn-submit {
                    background-color: $prim-green;
                    border-radius: 5px;
                    box-shadow: 0px 5px 0px 0px rgba(47, 172, 118, .8);

                    &:active {
                        box-shadow: 0px 5px 0px 0px rgb(47, 172, 118);
                    }
                }

                small {
                    color: $neutral-gray-blue;
                    font-size: .7rem;
                    text-align: center;

                    a {
                        color: $prim-red;
                        font-weight: 700;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}